<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light border-bottom border-dark">
        <a class="navbar-brand" href="#">Test App</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="/">Home</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/signin/">Sign In</a></li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">Welcome to the Test!</h1>
                    <p>We're going to build a cool application using MVC framework.</p>
                    <p><a class="btn btn-primary btn-md border border-dark shadow-lg rounded-0" href="/register" role="button">Start</a></p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Manage Users</h2>
                        <p>Using this application, you'll learn how to add, remove, and edit users for the application</p>
                    </div>
                    <div class="col-md-4">
                        <h2>Leave messages</h2>
                        <p>Users will be able to leave a message to another user using this application.</p>
                    </div>
                    <div class="col-md-4">
                        <h2>Edit User Information</h2>
                        <p>Admins will be able to edit another user's information (email addresses, first name, last name, etc)</p>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>